/CITest/obj/Debug/netcoreapp2.2/CITest.AssemblyInfo.cs
/CITest/obj/Debug/netcoreapp2.2/CITest.AssemblyInfoInputs.cache
/CITest/obj/Debug/netcoreapp2.2/CITest.RazorAssemblyInfo.cache
/CITest/obj/Debug/netcoreapp2.2/CITest.RazorAssemblyInfo.cs
/CITest/obj/Debug/netcoreapp2.2/CITest.assets.cache
/CITest/obj/Debug/netcoreapp2.2/CITest.csproj.CoreCompileInputs.cache
/CITest/obj/Debug/netcoreapp2.2/CITest.csprojAssemblyReference.cache
/CITest/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/CITest/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/CITest/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/.vs/CITest/v15/.suo
/.vs/CITest/v15/Server/sqlite3/db.lock
/.vs/CITest/v15/Server/sqlite3/storage.ide
/.vs/CITest/v15/Server/sqlite3/storage.ide-shm
/.vs/CITest/v15/Server/sqlite3/storage.ide-wal
/CITest/obj/CITest.csproj.nuget.cache
/CITest/obj/CITest.csproj.nuget.g.props
/CITest/obj/CITest.csproj.nuget.g.targets
